DATABASE_URL="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority"
JWT_SECRET="change-this-to-a-random-string-of-at-least-32-characters"
PORT=3000
NODE_ENV=development
